$accent-color1: #ffffff; /*biały kolor tekstu*/
$accent-color2: linear-gradient(#000b22, transparent); /*kolor header*/
$accent-color3: #FFFFFF33; /*- hover dla przycisków menu*/
$accent-color4: #3498DB; /*- kolor tła*/
$accent-color5: #ccc; /*- kolor ramek dla dropdown*/
$accent-color6: #f5f5dc; /*- kolor tła dla dropdown*/
$accent-color7: #2f4f4f; /*- kolor tekstu dla dropdown*/
$accent-color8: linear-gradient(transparent,#000b22); /*- kolor tła gry*/
$accent-color9: #ADFF2F; /*- kolor tekstu odpowiedzi*/
$accent-color10: #4CAF50; /*- kolor tła przycisków odpowiedzi*/
$accent-color11: #45a049; /*- kolor tła przycisków odpowiedzi*/
$accent-color12: #3Cb043; /*- kolor tła dla gry łatwej*/
$accent-color13: #FF0000; /*- kolor tła dla gry trudnej*/
