$accent-color1: #ffffff; /*biały kolor tekstu*/
$accent-color2: linear-gradient(#000b22, transparent); /*kolor header*/
$accent-color3: #FFFFFF33; /*- hover dla przycisków menu*/
$accent-color4: #3498DB; /*- kolor tła*/
$accent-color5: #ccc; /*- kolor ramek dla dropdown*/
$accent-color6: #f5f5dc; /*- kolor tła dla dropdown*/
$accent-color7: #2f4f4f; /*- kolor tekstu dla dropdown*/
