.game{
  background-image: $accent-color8;
}

.mainGameContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gameContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.quiz-container {
  background: none;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  & h2{
    padding: 10px;
  }
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answerButton {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $accent-color10;
  color: $accent-color9;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  width: 250px;
  height: 60px;
  word-wrap: break-word;
  white-space: normal;
  border: none;
  line-height: 1;
}

.answerButton:hover {
  background-color: $accent-color11;
}
.hardGameFields{
  display: flex;
  justify-content: center;
  align-items: center;
  & .hardGameButton{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: $accent-color1;
    font-size: 16px;
    cursor: pointer;
    background-color: $accent-color15;
    transition: background-color 0.3s;
  }
  & .hardGameInput{
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    margin: 10px;
  }
}

.startQuizContainer{
  display: flex;
  flex-direction: column;
  & h1{
    font-size: 2em;
    padding: 10px;
    text-align: center;
  }
  & .startGameButtons{
    display: flex;
    justify-content: space-between;
    & .easyButton,.hardButton{
      color: $accent-color1;
      padding: 20px 30px;
      border-radius: 5px;
      width: 8em;
      cursor: pointer;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
    }
    & .easyButton{
      background-color: $accent-color12;
    }
    & .hardButton{
      background-color: $accent-color13;
    }
  }
}

.surrenderButton{
  background-color: $accent-color5;
  color: $accent-color14;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  width: 8em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  &:hover{
    background-color: $accent-color3;
  }
}

.endGame{
  & .endGameFields{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  & .submitName{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: $accent-color1;
    font-size: 16px;
    cursor: pointer;
    background-color: $accent-color15;
    transition: background-color 0.3s;
  }
  & .nameInput{
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    margin: 10px;
  }
}

.errorMessage{
  color: red;
}


@media (max-width: 800px) {
 .mainGameContainer{
   flex-direction: column;
 }
  .mobileTimer{
    display: flex;
    justify-content: space-between;
  }
}