.mainPage{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: $accent-color8;
  font-size: 60px;
  text-align: center;
}

@media (max-width: 800px) {
  .mainPage{
   font-size: 30px;
  }
}