.ranking {
  padding: 20px;
  text-align: center;
  background-image: $accent-color8;
}
.rankingTable{
  background: none;
  width: 500px;
  border-radius: 8px;
}

.rankingFields{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  & .rankingButtons{
    display: flex;
    justify-content: center;
    gap: 15px
  }
  & .rankingSelect,.easyButtonRanking,.hardButtonRanking{
    border: none;
    cursor: pointer;
  }
  & .rankingSelect{
    padding: 8px 0 8px 4px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid $accent-color5;
    cursor: pointer;
    margin-right: 5px;
  }
  & .easyButtonRanking,.hardButtonRanking{
    display: inline-block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
}
}

table {
  width: 100%;
}

thead {
  color: $accent-color1;
}
td{
  color: $accent-color14;
}

th, td {
  padding: 10px;
  border: 1px solid $accent-color21;
  text-align: center;
  font-weight: bold;
}

thead tr{
  background-color: $accent-color20;
}

tr{
  background-color: $accent-color19;
}
tbody tr:nth-child(1) {
  background-color: $accent-color16;
}
tbody tr:nth-child(2) {
  background-color: $accent-color17;
}
tbody tr:nth-child(3) {
  background-color: $accent-color18;
}


@media (max-width: 600px) {
  .rankingTable{
    width: 90%;
    margin-top: 10px;
    font-size: 10px;
    table-layout: fixed;
  }

  td,th{
    word-wrap: break-word;
  }
  .rankingFields{
    width: 90%;
  }
}