.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  font-family: Arial, sans-serif;
}

.time {
  font-size: 60px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.timer button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 800px) {
  .timer{
    padding-left: 0;
  }
}